<div class="form-group col-sm-4 col-sm-offset-4">
  <h2>LOGIN</h2>
  <div class="form-group">
    <form class="form" method="post" action="/sessions">
      <input type="email" class="form-control" name="email" placeholder="Email"><br />
      <input type="password" name="password" class="form-control" placeholder="Password"><br />
      <input type="submit" style="display: inline;" class="btn btn-primary" value="Login">

      <!-- Google Button -->
      <div style="display: inline;" id="button-container">
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
          <a href="#" id="signOut" onclick="signOut();">Sign out</a>
          <script>
            function signOut() {
              var auth2 = gapi.auth2.getAuthInstance();
              auth2.signOut().then(function () {
                console.log('User signed out.');
              });
            }
          </script>
        </div>
      </div>
    </form>

</div>
